<div class="container pt-3">
  <h1>Todo App</h1>

  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <label for="todoInput">Todo:</label>
    <input type="text" id="todoInput" formControlName="todo" class="form-control">
    <div class="mb-3">
      <button class="btn btn-info float-end" type="submit" [disabled]="!todoForm.valid">Add</button>
    </div>
  </form>

  <h2>My todos</h2>

  <div *ngIf="todos.length === 0" class="text-center">
    brak wpisów
  </div>

  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      {{ todo }}
    </li>
  </ul>
</div>
